@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(200deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
}
.projectDetails{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 26px;
}

.projectDetails .image {
  width: 30%;
  margin-right: 15px;
  border-radius: 7px;
}

.projectDetails .title {
  font-size: 25px;
  font-weight: 700;
}

.projectDetails .description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skillSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

@media (max-width:750px) {
.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 400px;
}
.projectDetails{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 26px;
}
.projectDetails .image {
  width: 100%;
}
.skillSection {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: row;
}
}